* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* LOG IN */
.DefaultDiv{
  margin: auto;
  background: #1E1F25;
  /* height: 50%; */
  /* width: 50%; */
  position: fixed;
  left: 50vw;
  top: 50%; 
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 20px;
  & > h1 {
    color: white;
    text-align: center;
  }
}

label{
  color: #9494B8;
  font-weight: bold;
}
.Form {
  min-width: 400px;
}
.Form, .Form__name__first, .Form__name__last, .TodoInput__Form__AddTask {
  display: flex; 
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  & > input {
    background-color: #1E1F25;
    border-style: none;
    border-bottom: 1px solid #29292F;
    color: white; 
  }
  & > button {
    margin-top: 50px;  
  }
  & > p {
    color: white;
    text-align: center;
  }
}
.Form__name{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

button{
  min-height: 40px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #29292F;
}
button:hover{
  background-color: white;
  color:#29292F ;
}


/* My todo page */

.TodoInput__title{
  color: white;
}
.TodoInput__Form__AddTask{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* max-height: 80px; */
  & > .TodoInput__Form__AddTaskBtn {
    margin: 0;
    max-height: none !important;
    min-width: 30px;
  }
}

/* Head */
/* Input */
/* List */
.TodoItem__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TodoItem__list__content{
  display: flex;
  gap: 10px;
  & > h3 {
    color: white;
  }
}
/* Button */
.TodoItem__list__button{
  display: flex;
  gap: 10px;
}


/* Todo Input */
.error__addNewTask{
    color: red;
  }
